html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-image: url(background.svg)
    
    ;
    height: 100vh; 
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
  }
  
  main {
    margin: 2rem auto 4rem;
    max-width: 650px;
    width: 90vw;
  }
  
  #firebaseui-auth-container {
    font-weight: 800;
    margin: 4rem auto 6rem;
    max-width: 650px;
    width: 90vw;
  }
  
  footer {
    color: #444;
    font-size: 0.875rem;
    text-align: center;
  }
  
  footer a {
    color: inherit;
  }
  
  .products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .break {
    display: none;
  }

  .discount {
    opacity: 0.7;
    animation-duration: 3s;
    animation-name: discount-animation;
    animation-iteration-count: infinite;
    font-size: 20px;
  }

  @keyframes discount-animation {
    0%   {opacity: 0.6;font-size: 19.9px;}
    50%  {opacity: 0.4;font-size: 19.7px;}
    100% {opacity: 0.6;font-size: 19.9px;}
  }


  @media (max-width: 650px) {
    .break{
      display: contents;
    }
  }

  
  .product img {
    width: 300px;
  }
  
  .product input {
    border: 1px solid #90caf9;
    color: #11151a;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 0.25rem;
  }
  
  button {
    display: block;
    cursor: pointer;
    background: #90caf9;
    color: #11151a;
    text-transform: uppercase;
    border: none;
    border-radius: 0.15rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  select {
    transition: box-shadow 0.2s ease;
    color: white;
    background-color: #11151a;
    border: 5px solid #42a5f5;
    font-size: 1.25rem;
  }
  
  label {
    display: block;
  }
  
  #subscribe,
  #my-subscription {
    display: none;
    margin-top: -70px;
  }
  
  /* Test card number */
  .test-card-notice {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .card-number {
    display: inline;
    white-space: nowrap;
    font-family: Menlo, Consolas, monospace;
    color: #3c4257;
    font-weight: 500;
  }
  .card-number span {
    display: inline-block;
    width: 4px;
  }