html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-image: url(background.svg)
    
    ;
    height: 100vh; 
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
  }
  
  main {
    margin: 2rem auto 4rem;
    max-width: 700px;
    width: 90vw;
  }

  .icon {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    margin-right: 12px;
  }

  .feature-table {
    border-collapse: separate; 
    border-spacing: 0 15px;
  }
  
  #firebaseui-auth-container {
    font-weight: 800;
    margin: 4rem auto 6rem;
    max-width: 650px;
    width: 90vw;
  }
  
  footer {
    color: #444;
    font-size: 0.875rem;
    text-align: center;
  }
  
  footer a {
    color: inherit;
  }
  
  .products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .description {
    display: none;
  }

  .break {
    display: none;
  }

  .discount {
    opacity: 0.7;
    animation-duration: 3s;
    animation-name: discount-animation;
    animation-iteration-count: infinite;
    font-size: 20px;
  }

  @keyframes discount-animation {
    0%   {opacity: 0.6;font-size: 19.9px;}
    50%  {opacity: 0.4;font-size: 19.7px;}
    100% {opacity: 0.6;font-size: 19.9px;}
  }

  #special-offer-title {
    margin-top: 30px;
    display: inline-block;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-name: buy-animation;
  }

  #special-offer-description {
    margin-top: 0;
  }

  .buy {
    margin-top: 21px;
    font-size: 19px;
    animation-delay: 2s;
    animation-duration: 1.8s; /* Adjust duration to your preference */
    animation-name: buy-animation;
    transform-origin: center; /* Ensure rotation happens around the center */
  }
  
  @keyframes buy-animation {
    0% {
      transform: scale(1) rotate(0deg);
    }
    30% {
      transform: scale(1.2) rotate(-10deg); /* Scale up and rotate slightly */
    }
    40% {
      transform: scale(1.1) rotate(10deg); /* Scale down a bit and rotate to the other side */
    }
    50% {
      transform: scale(1.2) rotate(-10deg); /* Scale up again and rotate back */
    }
    60% {
      transform: scale(1.1) rotate(10deg); /* Scale down a bit and rotate to the other side again */
    }
    70% {
      transform: scale(1.15) rotate(0deg); /* Scale up a bit for a final spring effect */
    }
    100% {
      transform: scale(1) rotate(0deg); /* Return to original state */
    }
  }

  .select-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .select-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10px; /* Adjust based on the exact positioning you need */
    pointer-events: none;
    /* Custom arrow styles or use an icon */
  }
  
  select#price {
    cursor: pointer;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For modern browsers */
    padding-right: 5px;
  }

  .desktop-view {
    display: table;
  }
  .mobile-view {
    display: none;
  }


  @media (max-width: 500px) {
    .break{
      display: contents;
    }

    .desktop-view {
      display: none;
    }
    .mobile-view {
      display: table;
    }

    .feature-table {
      border-collapse: separate; 
      border-spacing: 0 20px;
    }
  }
  
  .product input {
    border: 1px solid #90caf9;
    color: #11151a;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 0.25rem;
  }
  
  button {
    display: block;
    cursor: pointer;
    background: #90caf9;
    color: #26303d;
    border: none;
    border-radius: 0.15rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
    transition: background 0.25s ease;
  }

  button:hover {
    background: #4eabf8;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  select {
    transition: box-shadow 0.2s ease;
    color: white;
    background-color: #11151a;
    border: 5px solid #42a5f5;
    font-size: 1.25rem;
  }
  
  label {
    display: block;
  }
  
  #subscribe,
  #my-subscription {
    display: none;
    margin-top: -70px;
  }
  
  /* Test card number */
  .test-card-notice {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .card-number {
    display: inline;
    white-space: nowrap;
    font-family: Menlo, Consolas, monospace;
    color: #3c4257;
    font-weight: 500;
  }
  .card-number span {
    display: inline-block;
    width: 4px;
  }